@import '../../assets/styles/global';

.Roadmap {
  position: relative;
  padding: 8rem 0;
  overflow: hidden;

  &-bg {
    @include fullAbsolute;
    @include centerScaleImage;
    z-index: 1;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &-wrapper {
    position: relative;
    z-index: 2;
  }

  &-header {
    margin-bottom: 8rem;
  }

  &-title {
    text-align: center;
    text-transform: uppercase;
    color: $paris-daisy;
    font-size: 6.4rem;
  }

  &-description {
    text-align: center;
    font-size: 2.8rem;
    max-width: 83.4rem;
    margin: 0 auto;
    color: $paris-daisy;
  }

  &-body {
    position: relative;
    max-width: 119rem;
    width: 100%;
    margin: 0 auto;
  }

  &-line {
    position: absolute;
    width: .7rem;
    height: 100%;
    background: $white;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
  }

  &-item {
    &-title {
      position: relative;
      font-size: 6.4rem;
      color: $malachite;
      margin-bottom: 1.6rem;
      padding: 0 1.6rem;
      width: fit-content;
      white-space: nowrap;

      @media (max-width: 768px) {
        font-size: 3.2rem;
      }

      &-line {
        position: absolute;
        height: 2px;
        width: 100%;
        background: $white;
        bottom: 0;
        left: 0;

        &::before {
          position: absolute;
          width: 1rem;
          height: 1rem;
          background: $white;
          top: 50%;
          content: '';
        }

        &::after {
          position: absolute;
          background: $white;
          width: calc(7.5rem * 3 / 2);
          height: 2px;
          content: '';

          @media (max-width: 768px) {
            width: calc(3rem * 3 / 2);
          }
        }
      }

      &-circle {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        background: $white;
        position: absolute;
      }
    }

    &-list {
      &-item {
        font-size: 2.8rem;
        color: $white;

        @media (max-width: 768px) {
          font-size: 2.2rem;
        }
      }
    }
  }

  &-timeline {
    margin: 0 -7.5rem;

    @media (max-width: 768px) {
      margin: 0 -3rem;
    }

    .ant-col {
      padding: 0 7.5rem;

      @media (max-width: 768px) {
        padding: 0 3rem;
      }
    }

    .ant-row {
      &:not(:last-child) {
        margin-bottom: 2.4rem;
      }

      &:nth-child(odd) {
        .Roadmap-item {
          &-title {
            text-align: right;
            margin-left: auto;

            &-circle {
              right: -7.5rem;
              top: 0;
              transform: translateX(50%);

              @media (max-width: 768px) {
                right: -3rem;
              }
            }

            &-line {
              &::before {
                left: 0;
                transform: translate(-50%, -50%) rotate(45deg);
              }

              &::after {
                left: 100%;
                transform-origin: left;
                transform: rotate(-45deg);
              }
            }
          }

          &-list {
            text-align: right;
          }
        }
      }

      &:nth-child(even) {
        flex-direction: row-reverse;

        .Roadmap-item {
          &-title {
            &-circle {
              left: -7.5rem;
              top: 0;
              transform: translateX(-50%);

              @media (max-width: 768px) {
                left: -3rem;
              }
            }

            &-line {
              &::before {
                right: 0;
                transform: translate(50%, -50%) rotate(45deg);
              }

              &::after {
                right: 100%;
                transform-origin: right;
                transform: rotate(45deg);
              }
            }
          }
        }
      }
    }
  }
}