@import '../../assets/styles/global';

.Teams {
  padding: 8rem 0;
  position: relative;
  overflow: hidden;
  background: $daintree;

  &-bg {
    display: none;

    &.active {
      display: block;
    }
  }

  &-header {
    margin-bottom: 4rem;
  }

  &-subtitle {
    color: $aqua;
    font-size: 6.4rem;
    text-align: center;
    text-transform: uppercase;
  }

  &-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 9.6rem;
    color: $white;
  }

  &-description {
    text-align: center;
    font-size: 2.8rem;
    max-width: 83.4rem;
    margin: 0 auto;
    color: $dodger-blue;
  }

  &-list {
    &-item {
      @include centerScaleImage;
      border-radius: 50%;
      overflow: hidden;
      cursor: pointer;

      &:hover {
        img {
          filter: grayscale(0);
        }
      }

      img {
        transition: $common-transition;
        filter: grayscale(1);
      }
    }
  }

  &-detail {
    &-title {
      font-size: 16.4rem;
      color: $white;
      text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.3);
      line-height: 0.9;
      margin-bottom: 2.4rem;
    }

    &-description {
      line-height: 0.9;
      font-size: 8.2rem;
      color: $aqua;
    }
  }
}