@import '../../assets/styles/global';

.WatchVideo {
  position: relative;

  &-thumbnail {
    @include centerScaleImage;
  }

  &-play {
    background: rgba($black, 0.45);
    @include fullAbsolute;
    z-index: 2;

    &-wrapper {
      margin-top: -6rem;
    }

    span {
      text-transform: uppercase;
      color: $white;
      text-shadow: 0px 4px 4px rgba($black, 0.25);
      text-align: center;
      margin-bottom: 4.8rem;
      display: block;
      font-size: 5.4rem;
    }

    .Icon {
      width: 14.8rem;
      cursor: pointer;
      margin: 0 auto;
      opacity: 0.8;

      svg {
        width: 100%;
        height: 100%;
      }
    }
  }
}