@import '../../assets/styles/global';

.Tokenomics {
  position: relative;
  overflow: hidden;
  padding: 6.4rem 0 0;
  background: $daintree;

  &-bg {
    display: none;

    &.active {
      display: block;
    }
  }

  &-header {
    margin-bottom: 6.4rem;
  }

  &-title {
    text-align: center;
    text-transform: uppercase;
    color: $dodger-blue;
    font-size: 6.4rem;
  }

  &-description {
    text-align: center;
    font-size: 2.8rem;
    max-width: 83.4rem;
    margin: 0 auto;
    color: $dodger-blue;
  }

  &-chart {
    max-width: 104.8rem;
    margin: 0 auto;
    @include centerScaleImage;
  }

  &-table {
    position: relative;
    z-index: 2;
    margin-bottom: 3.2rem;
    overflow: auto;

    table {
      width: 100%;
    }

    th,
    td {
      font-size: 2.4rem;
      text-align: center;
      background: $gallery;
      width: calc(100% / 6);

      @media (max-width: 991px) {
        width: unset;
      }
    }

    th {
      padding: 1.2rem 3rem;
      color: $white;
    }

    td {
      padding: 2.2rem 3rem;
    }

    thead {
      th {
        &:nth-child(1) {
          background: #797979;
        }

        &:nth-child(2) {
          background: #293A96;
        }

        &:nth-child(3) {
          background: #252463;
        }

        &:nth-child(4) {
          background: #85DAFF;
        }

        &:nth-child(5) {
          background: #5862AD;
        }

        &:nth-child(6) {
          background: #4358A7;
        }
      }
    }

    tbody {
      td {
        font-weight: 700;
      }
    }
  }
}