@import '../../assets/styles/global';

.HowItWorks {
  padding: 8rem 1.6rem;
  overflow: hidden;

  &-header {
    margin-bottom: 12rem;
  }

  &-title {
    text-align: center;
    text-transform: uppercase;
    color: $mine-shaft;
    font-size: 6.4rem;
  }

  &-description {
    text-align: center;
    font-size: 2.8rem;
    max-width: 83.4rem;
    margin: 0 auto;
    color: $mine-shaft;
  }

  &-card {
    position: relative;

    &-image {
      @include centerScaleImage;
      margin: 0 auto 1rem;
    }

    &-info {
      text-align: center;

      &-title {
        font-size: 3.2rem;
        color: $dodger-blue;
      }

      &-description {
        font-size: 1.4rem;
        color: $dodger-blue;
      }
    }
  }
}