@import '../../assets/styles/global';

.Footer {
  position: relative;
  background: $daintree;
  padding: 8rem 0;

  &-bg {
    display: none;

    &.active {
      display: block;
    }
  }

  &-wrapper {
    position: relative;
  }

  &-title {
    font-size: 4rem;
    margin-bottom: 2.8rem;
    color: $white;
    text-shadow: 0px 2px 1px rgba($black, 0.3);

    @media (max-width: 991px) {
      text-align: center;
    }
  }

  &-logo {
    margin: 0 auto 6rem;

    span {
      text-transform: uppercase;
      color: $maroon-flush;
      font-size: 9.6rem;
      line-height: 0.9;
    }

    img {
      width: 12rem;
      margin-right: 4.2rem;
    }
  }

  &-download {
    max-width: 24.8rem;
    margin: 0 auto 5.2rem;

    .animate__animated {
      &:not(:last-child) {
        margin-bottom: 2.4rem;
      }
    }

    &-btn {
      border: 2px solid $white;
      cursor: pointer;
      border-radius: .6rem;
      padding: 1rem 2rem;
      transition: $common-transition;

      &:hover {
        opacity: 0.7;
      }

      &-icon {
        flex: 0 0 3.2rem;
        max-width: 3.2rem;
        height: 3.2rem;
        margin-right: 1rem;
        @include centerScaleImage;
      }

      span {
        flex: 1;
        text-align: center;
        color: $white;
        line-height: 1;
        font-size: 2.8rem;
        text-shadow: 0px 2px 1px rgba($black, 0.3);
      }
    }
  }

  &-socials {
    &-item {
      display: block;
      cursor: pointer;
      transition: $common-transition;

      @media (max-width: 991px) {
        text-align: center;
        justify-content: center;
      }

      &:not(:last-child) {
        margin-bottom: 3.2rem;
      }

      &:hover {
        opacity: 0.7;
      }

      &-icon {
        max-width: 5rem;
        flex: 0 0 5rem;
        height: 5rem;
        margin-right: 6rem;
        @include centerScaleImage;

        @media (max-width: 991px) {
          margin-right: 3.2rem;
        }
      }

      span {
        font-size: 2.4rem;
        color: $white;
      }
    }
  }
}